### Exploratory Data Analysis (EDA)

This notebook is used to explore the data and understand the relationships between the variables. The main goal is to identify the most important variables that can be used to predict the reservoir levels. The dataset used in this notebook is the final dataset obtained from ACA and Meteocat.

*-- To convert to HTML run: jupyter nbconvert --to html EDA.ipynb --*

In [7]:
# Import cell
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### ACA Dataset

In [8]:
# Read the final and cleaned dataset from ACA (reservoirs)
df_aca = pd.read_csv('model/final_data/processed_aca.csv')
print(df_aca.head())

         date      0     1     2      3      4     5       6      7      8
0  2000-01-01  31.02  5.61  1.48  19.14  63.14  6.53  122.26  90.41  29.27
1  2000-01-02  31.02  5.61  1.48  19.02  63.53  6.53  122.33  90.35  29.35
2  2000-01-03  31.02  5.60  1.48  18.90  63.31  6.54  122.11  90.30  29.43
3  2000-01-04  31.02  5.60  1.47  18.78  63.20  6.54  122.37  90.24  29.51
4  2000-01-05  31.04  5.61  1.46  18.66  63.23  6.54  121.82  90.17  29.59

In [9]:
# Read the relationship between sensor codes and the reservoir names for further understanding
df_sensors = pd.read_csv('model/final_data/sensor_codes.csv')
print(df_sensors.head())

   sensor_code                                             name
0            0        Embassament de Darnius Boadella (Darnius)
1            1      Embassament de Foix (Castellet i la Gornal)
2            2                       Embassament de Riudecanyes
3            3  Embassament de Sant Pon√ß (Clariana de Cardener)
4            4             Embassament de Sau (Vilanova de Sau)

In [10]:
df_aca.describe()

,0,1,2,3,4,5,6,7,8
count,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000
mean,34.230326,3.585415,2.314233,18.042743,101.020372,6.731598,159.796801,76.223944,52.595055
std,13.761716,0.551182,1.409524,5.325099,37.302317,3.927467,55.935188,25.297298,20.850615
min,6.860000,1.780000,0.087000,2.130000,1.710000,0.077000,41.490000,20.480000,9.620000
25%,23.047500,3.450000,1.290000,15.237500,79.767500,3.297500,117.090000,58.670000,35.340000
50%,33.775000,3.700000,1.950000,19.990000,107.730000,6.595000,172.385000,81.220000,56.635000
75%,46.000000,3.750000,3.170000,22.320000,130.892500,10.702500,210.880000,98.822500,70.442500
max,60.150000,5.670000,5.320000,24.380000,164.890000,12.200000,247.440000,109.390000,81.380000

In [12]:
# Scale all the sensor values to be between 0 (value 0) and 1 (max value) (scale them individually)
for column in df_aca.columns[1:]:
    df_aca[column] = (df_aca[column]) / (df_aca[column].max())
df_aca.describe()

,0,1,2,3,4,5,6,7,8
count,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000
mean,0.569083,0.632348,0.435006,0.740063,0.612653,0.551770,0.645800,0.696809,0.646290
std,0.228790,0.097210,0.264948,0.218421,0.226225,0.321924,0.226056,0.231258,0.256213
min,0.114048,0.313933,0.016353,0.087367,0.010371,0.006311,0.167677,0.187220,0.118211
25%,0.383167,0.608466,0.242481,0.625000,0.483762,0.270287,0.473206,0.536338,0.434259
50%,0.561513,0.652557,0.366541,0.819934,0.653345,0.540574,0.696674,0.742481,0.695933
75%,0.764755,0.661376,0.595865,0.915505,0.793817,0.877254,0.852247,0.903396,0.865600
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Meteocat Dataset

In [8]:
# Read the final and cleaned dataset from Meteocat (stations)
df_meteocat = pd.read_csv('model/final_data/processed_meteocat.csv')
print(df_meteocat.head())

         date  1000_C6  1000_C7  1000_C8  1000_C9  1000_CC  1000_CD  1000_CE  \
0  2000-01-01      1.4      3.4      2.8      8.7      2.3      0.8      6.3
1  2000-01-02      1.4      4.2      3.2      7.7      2.8      0.9      7.0
2  2000-01-03      1.4      4.8      3.4      7.2      2.3      1.0      6.7
3  2000-01-04      1.4      1.8      1.4      6.0      0.2      1.3      6.3
4  2000-01-05      1.4      0.4      0.2      4.7      1.7      1.0      5.4

   1000_CG  1000_CI  ...  1600_DG  1600_DP  1600_Z1  1600_Z2  1600_Z3  \
0      1.8      0.0  ...      1.0      0.0    104.0      3.0     17.0
1      2.2      0.5  ...      0.0      0.0    102.0      3.0     15.0
2      4.9      1.0  ...      0.0      0.0    100.0      3.0     17.0
3      7.6      0.4  ...      0.0      0.0    100.0      3.0     17.0
4      5.6      1.1  ...      0.0      0.0     96.0      3.0     15.0

   1600_Z5  1600_Z6  1600_Z7  1600_Z9  1600_ZB
0     58.0      0.0     37.0     97.0      0.0
1     58.0      0.0     37.0     97.0      0.0
2     58.0      0.0     37.0     97.0      0.0
3     58.0      0.0     37.0     97.0      0.0
4     58.0      0.0     37.0     97.0      0.0

[5 rows x 259 columns]

In [9]:
# Read the relationship between station codes and the station names for further understanding
df_stations = pd.read_csv('model/final_data/station_codes.csv')
print(df_stations.head())

   station_code codiEstacio
0             1          C7
1             2          C8
2             3          C9
3             4          CC
4             5          CD

In [15]:
df_meteocat.describe()

,1000_C6,1000_C7,1000_C8,1000_C9,1000_CC,1000_CD,1000_CE,1000_CG,1000_CI,1000_CJ,...,1600_DG,1600_DP,1600_Z1,1600_Z2,1600_Z3,1600_Z5,1600_Z6,1600_Z7,1600_Z9,1600_ZB
count,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,...,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000,9092.000000
mean,14.328358,14.516390,13.513319,16.613969,12.534168,11.902502,15.503563,9.409518,10.346758,13.040348,...,41.161000,2.466033,387.264729,286.056901,69.083756,348.018609,235.532841,82.786098,192.126739,52.269009
std,7.598403,7.742054,7.558687,6.192013,7.132063,7.304879,6.557484,6.207424,6.577020,7.804870,...,117.453128,19.956272,735.910363,544.767729,174.683640,609.903720,436.051611,170.591135,368.299627,141.868897
min,-10.000000,-7.500000,-6.800000,-1.800000,-6.200000,-6.700000,-2.700000,-10.900000,-7.600000,-8.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.200000,8.300000,7.500000,11.600000,6.600000,5.800000,10.134896,4.784375,4.899479,6.403125,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14.400000,14.367708,13.165625,16.400000,12.313393,11.634375,15.200000,9.313542,10.300000,12.854167,...,0.000000,0.000000,34.000000,20.000000,0.000000,56.000000,6.332639,5.885417,33.093750,0.000000
75%,20.753125,21.000000,19.867188,21.931250,18.500000,17.900000,21.091667,14.152083,15.815104,19.522396,...,10.000000,0.000000,300.000000,211.000000,27.000000,304.244792,183.494792,60.000000,97.000000,21.479167
max,32.225000,33.697917,32.137500,31.172917,29.947917,29.241667,32.243750,25.989583,26.375000,31.027083,...,1186.916667,489.875000,4038.270833,3402.979167,1209.312500,3153.729167,2099.250000,1479.291667,2260.000000,1054.354167